
<div class="card">
     <div class="card__img">
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card__info">
       <h2 class="card__title">{{name}}</h2>
         <p class="card__text">Capital: {{capital}}</p>
        <p class="card__text">Population: {{population}}</p>
        <p class="card__text">Languages:</p>
        <ul class="card__list">
        {{#each languages}}
            <li class="card__item">{{languages.name}}</li>
        {{/each}}
            </ul>
            
    </div>
</div>
